@import url("//fonts.googleapis.com/css?family=Play");

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    box-shadow: 20px 7px 25px rgb(89, 27, 107);
    width: 85%;
    height: 85%;
    margin-top: 50px;
    padding: 15px;
    background-color: black;
    border-radius: 10px;  
    border: 2px solid rgba(255, 255, 255, 0.395);  
}

.cardTitle {   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -5px;
    color: white;
    font-family: Play;
    font-size: 33px;
    font-weight: 600;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    color: white;
    font-family: Play;
    font-size: 22px;
    font-weight: 300;
}

.cardImage{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 45px;
    margin-bottom: 5px;  
    border-radius: 10px;  
    box-shadow: 2px 2px 10px rgb(220, 192, 228);
    border-top: 3px solid rgba(255, 255, 255, 0.395);
    height: 250px;
    width: 300px;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border: 0;
    color: white;
    font-family: Play;
    font-size: 27px;
    font-weight: 500;
    transition-duration: 0.3s;
}

.details:hover{
    color: rgb(89, 27, 107);
    background-color: black;
    font-weight: 700;
}
  