@import url("//fonts.googleapis.com/css?family=Play");

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    block-size: 75px;
    box-shadow: 0px 10px 10px rgb(89, 27, 107);
    background-color: black;
}

.navTitle{    
    padding-left: 10px;
    color: rgb(247, 244, 248);
    font-family: 'Play';
    font-size: 55px;
    font-weight: 700;
    text-shadow: 5px 5px 7px rgb(125, 33, 153);
}

.searchbarNav {
    margin-bottom: 30px;
    margin-right: 50px;
    padding-left: 40px;
}

.background{
    margin-top: 0%;
    min-height: 100vh;
    background-image: url('./wallpapersden.com_tiny-tina-s-wonderlands-gaming-background_1920x1080.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    margin-top: 40px;
}

.orderFilters{
    display: flex;
    text-align: center;
}

.reloadCreate{
    width: 250px;
    margin-right: 20px;
    border: none;
    transition-duration: 0.5s;
    font-weight: 400;
    color: white;
    font-family: Play;
    font-size: 22px;
}

.reloadCreate:hover{
    cursor: pointer;
    border: none;
    background-color: black;
    color:rgb(103, 26, 131);
    font-weight: 500;
}

.order{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    gap: 25px;
    margin-top: 20px;
}

.selectOrderSort{
    border-radius: 15px;
    width: 180px;
    height: 35px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:black;
    border: 2px solid  rgba(255, 255, 255, 0.395);
    border-radius: 10px;
    color: white;
    font-family: Play;
    font-size: 21px; 
    font-weight: 400;
}

.selectOrderSort:hover{
    cursor: pointer;
}

.containerCards{
    display: grid;
    gap: 10px;
    row-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    width: auto;
}

.loader {
    display: flex; 
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-left: 140px;
}

.errorMessage{
    font-family: Play;
    font-size: 21px; 
    font-weight: 400;
    color: white;
    padding: 10px;
}

.errorContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px solid white;
    border-radius: 10px;
    background-color: #22223B;
    width: 100%;
    margin-left: 205%;
}