.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-top: 60px;
    padding-bottom: 10px;
}

.item{
    border: 2px solid white;
    padding: 7px;
    background-color: black;
    border-radius: 5px;
    color: white;
}

li:hover{
    cursor: pointer;
    background-color: white;
    color: black
}