@import url("//fonts.googleapis.com/css?family=Play");

.searchbarForm{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 30px;
    margin-top: 30px;
}

.searchbarButton{
    height: 35px;
    width: 55px;
    margin-left: 2px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 22px;    
    font-family: Play;
}

.searchbarButton:hover{
    cursor: pointer;
    background-color: black;
    color: rgb(103, 26, 131);
}

.searchbarInput{
    width: 180px;
    height: 35px;
    border-radius: 15px;
    padding-left: 8px;
    color: white;
    background-color: black;
    border: 1.5px solid white;
    transition-duration: 0.5s;
    font-weight: 450;
    font-size: 18px;    
    font-family: Play;
}