.searchbarForm{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 30px;
    margin-top: 30px;
}

.searchbarButton{
    height: 33px;
    width: 50px;
    margin-left: 2px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 15px;    
    font-family: monospace;
}

.searchbarButton:hover{
    cursor: pointer;
    background-color: white;
    color:black;
}

.searchbarInput{
    width: 150px;
    height: 30px;
    border-radius: 15px;
    padding-left: 7px;
    color: white;
    background-color: black;
    border: 2px solid white;
    transition-duration: 0.5s;
    font-weight: bolder;
    font-size: 15px;    
    font-family: monospace;
}